:root {
    --violet: hsla(263, 55%, 52%, 1);
    --greyish-blue: hsla(217, 19%, 35%, 1);
    --blueish-black: hsla(219, 29%, 14%, 1);
    --blueish-white: hsla(210, 46%, 95%, 1);
    --light-grey: hsla(0, 0%, 81%, 1);
    --white: hsla(0, 0%, 100%, 1);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 71px 24px;
    background-color: var(--blueish-white);
    font-family: "Barlow Semi Condensed", serif;
    font-weight: 500;
    color: var(--white);
}

main {
    display: grid;
    grid-template-columns: minmax(255px, 330px);
    gap: 24px;
}

/* Testimonial Cards */
section {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
    padding: 32px;
    padding-top: 26px;
}

section:nth-of-type(1) {
    background-color: var(--violet);
    background-image: url(./images/bg-pattern-quotation.svg);
    background-size: 104px;
    background-repeat: no-repeat;
    background-position: right 24px top;
}

section:nth-of-type(2) {
    background-color: var(--greyish-blue);
}

section:nth-of-type(4) {
    background-color: var(--blueish-black);
}

section:nth-of-type(3), section:nth-of-type(5) {
    background-color: var(--white);
    color: var(--greyish-blue);
}

/* User Badge */
.user-badge {
    display: flex;
    align-items: flex-end;
    gap: 17px;
    margin-bottom: 18px;
}

.user-badge_image {
    height: 28px;
    width: 28px;
    border-radius: 50%;
}

section:nth-of-type(1) .user-badge_image {
    outline: 2px solid hsla(264, 82%, 70%, 1);
}

section:nth-of-type(4) .user-badge_image {
    outline: 2px solid hsla(263, 55%, 52%, 1);
}

.user-badge_name {
    font-size: 13px;
    line-height: 100%;
    margin-bottom: 4px;
}

.user-badge_verification {
    font-size: 11px;
    line-height: 100%;
    opacity: .5;
}

/* Testimonial Text */
.section-header {
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    line-height: 120%;
    margin-bottom: 16px;
}

.section-body {
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    opacity: .7;
}

section:nth-of-type(1) .section-body {
    color: var(--light-grey);
}

section:nth-of-type(5) .section-body {
    color: var(--greyish-blue);
}

@media (max-width: 600px) {
    section:first-of-type .section-header {
        margin-bottom: 40px;
    }

    section:nth-of-type(1) .section-body {
        margin-right: 16px;
    }
}

/* Footer */
.attribution { 
    position: absolute;
    top: 0;
    left: 0;
    color: var(--black); 
    text-align: center; 
    background-color: rgb(240, 240, 240);
    padding: 8px;
    color: var(--blueish-black);
}

.attribution a { 
    color: var(--violet);
    margin: 0;
}

.attribution p {
    font-size: 11px;
    margin: 0;
}

/* Medium Screen Size */
@media (min-width: 600px) {
    main {
        grid-template-columns: repeat(2, minmax(auto, 330px));
        grid-template-areas: 
            "daniel daniel"
            "jonathan janette"
            "kira patrick";
        gap: 24px;
    }

    section:nth-of-type(1) {
        grid-area: daniel;
        background-position: right 80px top;
    }

    section:nth-of-type(2) {
        grid-area: jonathan;
    }

    section:nth-of-type(3) {
        grid-area: janette;
    }

    section:nth-of-type(4) {
        grid-area: patrick;    
    }

    section:nth-of-type(5) {
        grid-area: kira;
    }
}

/* Large Screen Size */
@media (min-width: 1200px) {
    main {
        grid-template-columns: repeat(4, 255px);
        grid-template-rows: repeat(2, auto);
        grid-template-areas: 
            "daniel daniel jonathan kira"
            "janette patrick patrick kira";
        column-gap: 30px;
        row-gap: 24px;
    }

    section {
        padding-bottom: 26px;
    }

    section:nth-of-type(1) {
        background-position: right 80px top;
        padding-bottom: 32px;
    }
    
    section:nth-of-type(2) {
        padding-bottom: 32px;
    }

    section:nth-of-type(3) .section-header,
    section:nth-of-type(4) .section-header, 
    section:nth-of-type(5) .section-header {
        margin-bottom: 24px;
    }
}